.bottom_right {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 40%;
  z-index: 2;
  text-align: right;
}

.bottom_left {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 40%;
  z-index: 1;
}